* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
}

li {
    list-style-type: none;
}

.section1 {
    background-image: url(../Images/BackgroundImges/constructionimages02.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    text-align: center;
}

.top1nav1 {
    display: flex;
    justify-content: space-evenly;
}

.top1nav1img2 {
    width: 160px;
}

.top1nav1text1 {
    font-size: 10px;
}

.top1nav1text2 {
    font-size: 5px;
}

.menubar {
    width: 20px;
}

.top1nav1text {
    text-align: center;
    padding: 80px;
}

.top1nav1text1 {
    font-size: 25px;
    color: white;
}

.top1nav1text5 {
    color: white;
}

.top1nav1text7 {
    width: 150px;
    height: 50px;
    background-color: orangered;
}

.top1nav1text8 {
    padding-top: 15px;
}

.top1nav1text81 {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.top1navtext0 {
    height: 100px;
}

.top1nav1text10 {
    color: white;
    padding-top: 40px;
}

.section2mid {
    background-color: white;
}

.section2mid1 {
    text-align: center;
}

.section2mid0 {
    font-size: 40px;
    padding-top: 40px;
}

.section2mid2 {
    font-size: 40px;
}

.section2mid3 {
    font-size: 20px;
    padding: 10px;
    font-weight: 700px;
}

.section2mid4 {
    padding: 15px;
}

.section2mid7b {
    text-align: center;
}

.section2mid8 {
    font-size: 20px;
}

.section2mid4phone {
    display: inline;
    width: 20px;
    padding-top: 30px;
}

.section2mid9 {
    display: inline;
    padding: 2px;
    font-size: 20px;
}

.section2mid5 {
    padding-top: 20px;
    font-size: 20px;
}

.section2mid10 {
    text-align: center;
}

.section2mid6img {
    width: 250px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.section3mid {
    background-image: url(../Images/BackgroundImges/constructionimages04.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.section3mid12 {
    font-size: 30px;
    padding-top: 140px;
    color: white;
}

.section3mid13 {
    color: whitesmoke;
    padding-top: 40px;
    font-size: 15px;
}

.section3midtext14 {
    width: 200px;
    height: 50px;
    background-color: orangered;
    margin: 58px;
}

.section3midtext15 {
    padding-top: 15px;
}

.section3midtext16 {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.section4mid {
    text-align: center;
}

.section4mid1 {
    font-size: 30px;
}

.section4mid2 {
    font-size: 17px;
    padding: 45px;
    width: 113%
}

.section4list {
    text-align: center;
}

.section4list1f {
    padding: 10px;
}

.section4list1s {
    width: 40px;
}

.section20a {
    padding: 30px;
}

.section20b {
    padding: 10px;
    font-size: 30px;
}

.section20c {
    padding: 10px;
    font-size: 15px;
}

.section6ck {
    text-align: center;
}

.section6dk {
    width: 80%
}

.section4list1t {
    font-size: 20px;
    padding: 10px;
}

.section4list1d {
    font: 15px;
    padding: 10px;
}

.section5 {
    text-align: center;
    padding-top: 60px;
}

.section5a {
    padding: 20px;
}

.section5b {
    font-size: 20px;
    padding: 10px;
}

.section5c {
    font-size: 15px;
    padding: 20px;
}

.section6a {
    text-align: center;
}

.section6b {
    padding: 10px;
}

.section6d {
    width: 80%;
}

.section6f {
    padding: 35px;
}

.section6e {
    width: 240px;
    height: 200px;
    margin-left: 30px;
    padding-top: 20px;
    background-color: aliceblue;
}

.section6g {
    padding-top: 50px;
    text-align: center;
}

.section7 {
    text-align: center;
}

.section7a {
    text-align: center;
    padding-top: 40px;
}

.section7b {
    background-image: url(../Images/BackgroundImges/constructionimages09.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.section7b2 {
    background-image: url(../Images/BackgroundImges/constructionimages10.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}


.section7b3 {
    background-image: url(../Images/BackgroundImges/constructionimages11.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.section7b4 {
    background-image: url(../Images/BackgroundImges/constructionimages12.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.section7b5 {
    background-image: url(../Images/BackgroundImges/constructionimages13.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.section7b6 {
    background-image: url(../Images/BackgroundImges/constructionimages14.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.section7c {
    padding-top: 150px;
}

.section7d {
    color: white;
    font-size: 30px;
}

.section6h {
    text-align: center;
    padding-top: 20px;
}

.section6j {
    display: inline;
    padding: 5px;
}

.section6i {
    padding-top: 50px;
}

.section9 {
    height: 800px;
    padding-top: 40px;
}

.section9b {
    padding: 20px;
}

.section9ctext {
    color: black;
    padding: 20px;
}

.section9h1 {
    display: inline;
    padding: 5px;
}

.section9d {
    padding: 10px;
}

.section9e {
    padding: 10px;
}

.section9d {
    padding: 10px;
}

.section9f {
    padding: 10px;
    font-size: 20px;
}

.section9g {
    padding-left: 10px;
}

.section9gtext {
    text-decoration: none;
    color: black
}

.section10a {
    padding: 15px;
}

.section10b {
    padding: 15px;
}

.top1nav1text5d {
    color: white;
    padding-top: 300px;
    padding-left: 10px;
    display: none;
}

.top1nav {
    text-align: center;
    padding-left: 200px;
    display: none;
}

.top1nav4 {
    font-size: 20px;
    color: white;
    padding: 10px;
    display: none;
}

.section2mid0d {
    font-size: 50px;
    padding-top: 50px;
    display: none;
}

.one,
.two,
.three,
.four,
.five,
.six {
    height: 200px;
    text-align: center;
    
}

.one {
    background-image: url(../Images/BackgroundImges/constructionimages09.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 40px;
}

.two {
    background-image: url(../Images/BackgroundImges/constructionimages10.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 40px;
}


.three {
    background-image: url(../Images/BackgroundImges/constructionimages11.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 40px;
}

.four {
    background-image: url(../Images/BackgroundImges/constructionimages12.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 40px;
}

.five {
    background-image: url(../Images/BackgroundImges/constructionimages13.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 40px;
}

.six {
    background-image: url(../Images/BackgroundImges/constructionimages14.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 40px;
}

.last22p {
    background-color: orangered;
    width: 40%;
    height: 50px;
}

.last22a {
    color: white;
    text-decoration: none;
}


.gridc{
    text-align: center;
}

.set3{

    text-align: center;
}

@media(min-width: 992px) {
    .section1 {
        background-image: url(../Images/BackgroundImges/constructionimages02.jpg);
        background-repeat: no-repeat;
        height: 180vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .top1nav3 {
        text-align: center;
        padding-left: 600px;
    }

    .top1nav4 {
        font-size: 20px;
        color: white;
        display: inline;
        padding: 10px;
    }

    .top1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        text-align: center;
    }

    .menubar {
        width: 20px;
        display: none;
    }

    .top1nav1img2 {
        width: 250px;
        height: 40px;
        padding-top: 5px;
    }

    .top1nav1text {
        text-align: left;
        padding: 80px;
    }

    .top1nav1text1 {
        font-size: 80px;
        color: white;
    }

    .top1nav1text5 {
        color: white;
        padding-top: 170px;
        padding-left: 10px;
    }

    .top1nav1text0 {
        color: white;
    }

    .top1nav1text7 {
        width: 150px;
        height: 50px;
        background-color: orangered;
        margin-top: 150px;
    }

    .top1nav1text81 {
        font-size: 15px;
        color: white;
        text-decoration: none;
    }

    .top1nav1text8d {
        display: flex;
        justify-content: left;
    }

    .top1nav1text10 {
        color: white;
        padding-top: 170px;
        padding-left: 50px;
        font-size: 20px;
    }

    .section2mid {
        background-color: white;
        padding: 20px;
    }

    .section2mid {
        background-color: white;
        padding: 20px;
    }

    .section2mid2 {
        padding-left: 4px;
    }

    .section12mid {
        padding-top: 50px;
    }

    .section2mid1 {
        display: flex;
        justify-content: space-evenly;
    }

    .section2mid1b {
        padding: 80px;
    }

    .section2mid0d {
        font-size: 50px;
        padding-top: 50px;
    }

    .section2mid3 {
        font-size: 30px;
        padding: 10px;
        font-weight: 700px;
    }

    .section2mid4 {
        padding: 15px;
    }

    .section2mid5 {
        padding-top: 20px;
        font-size: 30px;
        padding-left: 15px;
    }

    .section2mid6img {
        width: 94%;
    }

    .section2mid6 {
        text-align: center;
    }

    .section2mid6h {
        padding-top: 50px;
    }

    .section3mid {
        background-image: url(../Images/BackgroundImges/constructionimages04.jpg);
        background-repeat: no-repeat;
        height: 137vh;
        background-size: cover;
        background-position: center;
        text-align: center;
    }

    .section3mid13 {
        color: whitesmoke;
        padding: 80px;
        font-size: 20px;
    }

    .section3midtext14 {
        display: none;
    }

    .section3midtext15 {
        background-color: orange;
        width: 12%;
        height: 60px;
    }

    .section3midtext16 {
        color: white;
        text-align: center;
    }

    .last22p {
        background-color: orangered;
        width: 12%;
        height: 60px;
    }

    .last22a {
        color: white;
        text-decoration: none;
    }

    .section4listd {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }

    .section3mid13 {
        color: whitesmoke;
        padding-top: 40px;
        font-size: 25px;
        padding-left: 500px;
        width: 70%;
    }

    .section3mid {
        background-image: url(../Images/BackgroundImges/constructionimages04.jpg);
        background-repeat: no-repeat;
        height: 80vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        background-attachment: fixed;
    }

    .section4mid {
        padding: 100px;
    }

    .section4middesk {
        display: flex;
        justify-content: space-between;
    }

    .section4list {
        flex-wrap: wrap;
        width: 907px;
    }

    .section4listd {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        width: 102%;
    }

    .section4list1 {
        width: 356px;
    }

    .section5{

        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }

    .section5d {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .section5da {
        flex-wrap: nowrap;
        width: 50%;
    }

    .section5a {
        width: 100%;
        margin-left: 114px;
    }

    .section5c {
        font-size: 16px;
    }

    .section6d {
        width: 81%;
    }

    .section6eh1 {
        padding: 0px 180px;
    }

    .section5xd {
        display: flex;
        justify-content: space-between;
    }

    .section5xda {
        padding: 0px 70px 6px 70px;
        width: 40%;
    }

    .section5b {
        font-size: 40px;
        width: 100%
    }

  
    .section7aa {
        display: flex;
    }

    .section7ac {
        display: flex;
    }

    .section7ba {
        display: flex;
    }

    .section7images {
        width: 100%;
    }

    .one {
        background-image: url(../Images/BackgroundImges/constructionimages09.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        width: 100px;
        line-height: 394px;
        font-size: 50px;
    }

    .two {
        background-image: url(../Images/BackgroundImges/constructionimages10.jpg);
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        line-height: 214px;
        font-size: 50px;
    }

    .three {
        background-image: url(../Images/BackgroundImges/constructionimages11.jpg);
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        line-height: 214px;
        font-size: 50px;
    }

    .four {
        background-image: url(../Images/BackgroundImges/constructionimages12.jpg);
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        line-height: 394px;
        font-size: 50px;
    }

    .five {
        background-image: url(../Images/BackgroundImges/constructionimages13.jpg);
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        line-height: 394px;
        font-size: 50px;
    }

    .six {
        background-image: url(../Images/BackgroundImges/constructionimages14.jpg);
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        line-height: 394px;
        font-size: 50px;
    }

    .group-box {
        display: flex;
    }

    .group-boxone {
        display: flex;
    }

    .group-boxtwo {
        display: flex;
    }

    .one {
        width: 100%;
        height: 50%;
    }

    .two,
    .three,
    .four,
    .five {
        width: 50%;
        line-height: 70px;
    }

    .oned {
        width: 1000px;
    }

    .grid{

        display: flex;
        justify-content: space-between;
    }

    

    
    .section6ak {
        display: flex;
        width: 100%;
        padding: 147px;
        align-items: center;
    }

    .section6bk {
        width: 50%;
        justify-content: center;
    }

    .section6ek {
        text-align: center;
    }

    .section6dk {
        width: 100%;
    }

    .section6ck {
        width: 100%
    }

    .section20a {
        padding-top: 68px;
        text-align: center;
    }

    .section20b {
        font-size: 40px;
       
        height: 80px;
    }

    .section20c {
        font-size: 19px;
       
        height: 17px;
        
    }

    .section9 {
        height: 500px;
        padding-top: 40px;
    }

    .section9a {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .section9k {
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-evenly;
    }

    .section9c {
        flex-wrap: wrap;
        width: 71%;
    }

    .section9d {
        flex-wrap: wrap;
        width: 50%;
    }

    .section9e {
        flex-wrap: wrap;
        width: 70%;
    }

    .section9ctext{

        font-size: 25px;
    }

    .section9f {
        font-size: 30px;
    }

    .section9g{

        font-size: 25px;
    }

    .section9gtext {
        font-size: 25px;
    }


    .section9ktaby {
       
     width: 50%;

    }

    .section10desk {
        display: flex;
        justify-content: space-between;
    }

}

@media (min-width: 768px) {
    .section1 {
        background-repeat: no-repeat;
        height: 500px;
        background-size: cover;
        background-position: center;
        text-align: left;
    }

    .top1nav1text {
        text-align: left;
    }

    .top1nav1text1 {
        font-size: 40px;
        text-align: left;
    }

    .top1nav1text5 {
        font-size: 20px;
        text-align: left;
        padding-right: 50px;
        padding-top: 50px;
    }

    .top1nav1text8 {
        text-align: center;
    }

    .top1nav1text81 {

        font-size: 15px;
        color: white;
        text-decoration: none;
    }

    .top1nav1text8d {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    .top1nav1text10 {
        color: white;
        padding-bottom: 100px;
        padding-left: 50px;
        font-size: 20px;
    }

    .top1nav1text7 {
        width: 200px;
    }

    .section2mid1b {
        text-align: left;
        padding: 80PX;
    }

    .section2mid8 {
        text-align: left;
        padding-left: 100px;
    }

    .section2mid10 {
        text-align: left;
        padding-left: 100px;
    }

    .section2mid7b {
        text-align: left;
        padding-left: 100px;
    }

    .section2mid6img {
        width: 427px;
    }

    .last22p {
        background-color: orangered;
        width: 40%;
        height: 50px;
    }

    .last22a {
        color: white;
        text-decoration: none;
    }

    .last29 {
        padding-top: 80px;
    }

    .section5a {
        padding: 20px;
        text-align: left;
        padding-left: 60px;
    }

    .section5b {
        font-size: 30px;
    }

    .section5c {
        font-size: 20px;
    }


    .gridc{

        text-align: center;
    }

    .section6d {
        width: 50%;
    }

  

    .section6e {
        width: 685px;
        background-color: white;
        text-align: center;
    }

    .section6eh1 {
        font-size: 20px;
    }

    .section6ep1 {
        font-size: 20px;
    }

    .section6ep2 {
        font-size: 20px;
    }

    .section5xd {
        display: flex;
        justify-content: space-between;
    }

    .section5xda {
        width: 50%;
    }

    .section3midtext14 {
        margin-left: 280px;
        text-align: center;
    }

    .section20b {
        font-size: 37px;
    }

    .section20c {
        font-size: 22px;
    }

    .section20a {
        padding: 50px;
    }

    .section6dk {
        width: 60%;
    }

    .section6ek {
        padding-bottom: 40px;
        font-size: 40px;
    }

    .section6i {
        font-size: 30px;
    }

    .section6ip {
        font-size: 20px;
    }

    .section9ktab {
        display: flex;
        justify-content: space-evenly;
    }

    .section9ktaba {
        flex-wrap: wrap;
        width: 50%;
    }

    .section9ktabx {
        flex-wrap: wrap;
        width: 50%;
    }

   

    .section9ektabb {
        flex-wrap: wrap;
        width: 30%;
    }
    
    .section9{

        height: 600px;
    }



    .section10desk{

        display: flex;
        justify-content: space-evenly;
    }
}